<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Emotion Detection</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css'><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css') }}">

</head>

<body>
  <div class="rating-modal d-flex justify-content-center align-items-center">
    <div class="rating-section col-11 col-sm-8 col-md-6 col-lg-5  d-flex flex-column justify-content-start align-items-center">
      <h3 class="rating-heading" style="margin-top: 20px; margin-bottom: 40px;">Emotion Detection</h3>
       <div class="quality-section">
        <p class="quality-heading">Analyzing emotions has never been easier &#128512;</p>
        <div class="d-flex flex-nowrap justify-content-around">
           
            <i class="fas fa-star filled-stars"></i>
            <i class="fas fa-star filled-stars"></i>
            <i class="fas fa-star filled-stars"></i>
            <i class="fas fa-star filled-stars"></i>
            <i class="fas fa-star filled-stars"></i>
        </div>
       
      </div>
       <a class="return-home-btn" href="{{ url_for('index') }}">Analyze My Emotions &#128151;</a>
    </div>
  </div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script  src="{{ url_for('static',filename='assets/js/script.js') }}"></script>

</body>
</html>
